<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
  <!--- Note that these columns can be defined in any order. The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} {{element.firstName}} </td>
  </ng-container>

  <!-- Grade Column -->
  <ng-container matColumnDef="grade">
    <th mat-header-cell *matHeaderCellDef> Grade </th>
    <td mat-cell *matCellDef="let element"> {{element.grade}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr class="rows" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDetail(row)"></tr>
</table>
  
  